/* styleHome.css */
.content-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.circle-image-container {
    flex: 1;
    padding: 20px;
    text-align: right;
}

.circle-profile-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; /* Creates a circular shape */
    cursor: pointer;
}

.text-container {
    flex: 2;
    padding: 20px;
    align-content: center;
    text-align: center;
}

.Hello-World {
    font-size: 32px;
    letter-spacing: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-right: 5px solid;
    display: inline-block;
    color: white;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 2s steps(15),
    cursor 0.5s step-end infinite;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.Comment {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200; 
    font-size: 16px; 
}

.nav-sub-button {
    background-color: #C19770;
    color: #993500;
    border: none;
    margin-top: 50px;
    margin-left: 45px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Minima', sans-serif;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #FFFCCC;
    }
}

/* styleHome.css */
/* Mobile Browser */
@media (max-width: 769px) {
    /* Apply styles for screens with a maximum width of 768px (typical tablet and mobile screens) */

    .content-container {
        flex-direction: column; /* Stack content vertically on smaller screens */
        align-items: center; /* Center content horizontally */
        padding: 20px; /* Add some spacing around the content */
    }

    .circle-image-container {
        text-align: center; /* Center the image */
        padding: 10px; /* Reduce padding */
    }

    .circle-profile-picture {
        width: 250px;
        height: 250px;
    }

    .text-container {
        padding: 10px;
        text-align: center;
    }

    .Hello-World {
        font-size: 24px; /* Reduce font size */
        animation: 
        typing 2s steps(15),
        cursor 0.5s step-end infinite;
    }
    
    @keyframes cursor {
        50% { border-color: transparent; }
    }
    
    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }

    .Comment {
        font-size: 14px; /* Reduce font size */
    }

    .nav-sub-button {
        margin-top: 20px;
        margin-left: 0;
        padding: 5px 10px;
        font-size: 10px; /* Reduce font size */
    }
}