/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-image: url("/static/Images/Coffee_BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;
}

.common-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 40vh;
    color: white;
}

.Portfolio {
    font-size: x-large;
    font-family: 'Raleway';
    color: #008080;
    margin-bottom: 0; 
    cursor: pointer;
}

.Name {
    font-size: xx-large;
    font-family: 'Space Grotesk';
    margin-top: 0;
    cursor: pointer;
}

.Box {
    background-color: rgba(193, 151, 112, 0.71); 
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.FooterBox {
    background-color: rgba(193, 151, 112, 1);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterColumn {
    flex: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    padding: 10px;
}

.nav-button {
    background-color: transparent;
    color: #993500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Minima', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #FFFCCC;
    }
}

.nav-button.active {
    background-color: #FFFCCC;
}

.SocialIcon {
    display: inline-block;
    margin: 10px 0;
    position: relative;
}

.SocialIcon img {
    width: 24px; 
    height: 24px;
}

.SocialIcon a {
    display: inline-block;
    padding: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    position: relative;
}

.SocialIcon a:hover::before {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: -15px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    white-space: nowrap; 
}


/* ... (other existing styles) */

/* Media query for screens with max-width 768px (typical tablet and mobile screens) */

@media (max-width: 769px) {
    body {
        background-size: auto; /* Adjust background size for smaller screens */
    }

    .common-content {
        min-height: 40vh; /* Adjust content height for better mobile experience */
    }

    .Box {
        width: 100%; /* Adjust width for full width on smaller screens */
        height: 50px; /* Allow height to adjust based on content */
    }

    .FooterBox {
        height: auto; /* Allow footer height to adjust based on content */
    }

    .FooterColumn {
        padding: 5px; /* Reduce padding for smaller screens */
        font-size: medium;
    }

    .nav-button {
        font-size: auto; /* Adjust font size for buttons on smaller screens */
        padding: 8px 5px; /* Adjust button padding */
    }

    /* Adjust social icon styles */
    .SocialIcon {
        margin: 5px 0;
    }

    .SocialIcon img {
        width: 25px; /* Reduce icon size */
        height: 25px;
    }

    .Num {
        font-size: medium;
    }

    /* Add any other necessary adjustments */
}

@media (max-width: 420px) {
    body {
        background-size: auto; /* Adjust background size for smaller screens */
    }

    .common-content {
        min-height: 20vh; /* Adjust content height for better mobile experience */
    }

    .Box {
        width: 100%; /* Adjust width for full width on smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .FooterBox {
        height: auto; /* Allow footer height to adjust based on content */
    }

    .FooterColumn {
        padding: 5px; /* Reduce padding for smaller screens */
        font-size: 12px;
    }

    .nav-button {
        font-size: 8px; /* Adjust font size for buttons on smaller screens */
        padding: 8px 5px; /* Adjust button padding */
    }

    /* Adjust social icon styles */
    .SocialIcon {
        margin: 5px 0;
    }

    .SocialIcon img {
        width: 25px; /* Reduce icon size */
        height: 25px;
    }

    .Num {
        font-size: x-small;
    }

    /* Add any other necessary adjustments */
}

@media (max-width: 380px) {
    body {
        background-size: auto; /* Adjust background size for smaller screens */
    }

    .common-content {
        min-height: 20vh; /* Adjust content height for better mobile experience */
    }

    .Box {
        width: 100%; /* Adjust width for full width on smaller screens */
        height: auto; /* Allow height to adjust based on content */
    }

    .FooterBox {
        height: auto; /* Allow footer height to adjust based on content */
    }

    .FooterColumn {
        padding: 5px; /* Reduce padding for smaller screens */
        font-size: 12px;
    }

    .nav-button {
        font-size: 8px; /* Adjust font size for buttons on smaller screens */
        padding: 8px 5px; /* Adjust button padding */
    }

    /* Adjust social icon styles */
    .SocialIcon {
        margin: 5px 0;
    }

    .SocialIcon img {
        width: 20px; /* Reduce icon size */
        height: 20px;
    }

    .Num {
        font-size: x-small;
    }

    /* Add any other necessary adjustments */
}




