{% extends "index.html" %}

{% block title %}
Experiences
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleExperiences.css') }}">
<script>
    function goToPage(pageName) {
        window.location.href = pageName;
    }
</script>
<br>
<div class="Experiences">
    <div class="Experience">
        <span><h2>Experiences</h2></span>
    </div>
    <div class="Sub-Box" onclick="goToPage('ResDash')">
        <div class="Sub-Box-Image">
            <img src="static/Images/ResDash.png" alt="ResDash" width="125" height="125">
        </div>
        <div class="Sub-Box-Text">
            <div class="Sub-Box-Date">
                <h4>May 2023 - August 2023</h4>
            </div>
            <div class="Sub-Box-Title">
                <h2>Python/Flask App Developer</h2>
            </div>
            <div class="Sub-Box-Description">
                <p>Led the development of ResDash webpages, optimizing code, integrating libraries, and enhancing user experience for University of Cincinnati Resident Doctors.</p>
            </div>
        </div>
    </div>
    <div class="Sub-Box" onclick="goToPage('ByteLinkSys')">
        <div class="Sub-Box-Image">
            <img src="static/Images/ByteLinkSys.jpeg" alt="ByteLinkSys" width="125" height="125">
        </div>
        <div class="Sub-Box-Text">
            <div class="Sub-Box-Date">
                <h4>May 2022 - July 2023</h4>
            </div>
            <div class="Sub-Box-Title">
                <h2>Data Science Intern</h2>
            </div>
            <div class="Sub-Box-Description">
                <p>Designed and deployed a global Pneumonia growth analysis PowerBI dashboard with advanced Python and Machine Learning proficiency, utilizing various algorithms and tools.</p>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
