{% extends "index.html" %}

{% block title %}
Portfolio - Kartavya Singh
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleHome.css') }}">
<div class="content-container">
    <div class="circle-image-container">
        <img src="{{ url_for('static', filename='/Images/Kartavya.jpg') }}" alt="Kartavya Singh" onclick="goToPage('About_Me')" class="circle-profile-picture">
    </div>
    <div class="text-container">
        <div class="Hello-World">
            <span>Hello World!</span>
        </div>
        <div><br><br></div>
        <div class="Comment">
            <span>Born a Programmer: Debugging the World, One Line at a Time!</span>
        </div>
        <a href ="https://mailuc-my.sharepoint.com/:b:/g/personal/singhk6_mail_uc_edu/Edu8_pX6PJFBhQsBWy0BZjkBZDrfcubynPwuZT6uzRWKug?e=k6bUB4" ><button id="resumeButton" class="nav-sub-button" onclick="">Download Resume</button></a><br>
        <button id="projectsButton" class="nav-sub-button" onclick="goToPage('Projects')">Projects</button>
        <button id="experiencesButton" class="nav-sub-button" onclick="goToPage('Experiences')">Experiences</button>
        <button id="contactButton" class="nav-sub-button" onclick="goToPage('Contact')">Contact Me</button>
    </div>
</div>
<script>
    function goToPage(url) {
        window.location.href = url;
    }
</script>
{% endblock %}