{% extends "index.html" %}

{% block title %}
Honors_Experiences
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleHonor.css') }}">
<script>
    function goToPage(pageName) {
        window.location.href = pageName;
    }
</script>
<br>
<div class="Honors">
    <div class="Honor">
        <span><h2>Honors Program</h2></span>
    </div>
    <div class="Sub-Box" onclick="goToPage('Year-In-Review')">
        <h2>Year-In-Review</h2>
        <!-- Content for Year-In-Review division goes here -->
    </div>
    <div class="Sub-Box" onclick="goToPage('Honors-Experience')">
        <h2>Honors Experience</h2>
        <!-- Content for Honors Experience division goes here -->
    </div>
    <div class="Sub-Box" onclick="goToPage('Gateway')">
        <h2>Gateway</h2>
        <!-- Content for Gateway division goes here -->
    </div>
</div>
<br>
{% endblock %}