{% extends "index.html" %}

{% block title %}
TCS iON
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleTCSiON.css') }}">
<br>
<div class="Year-In-Reviews">
    <div class="Back">
        <a href="Involvements"><img src="static/Images/Back.png" alt="Back" width="25" height="25"></a>
    </div>
    <div class="Year-In-Review">
        <h2>TCS iON</h2>
    </div>
    <div class="ReviewText">
        Digital Learning Hub
    </div>
</div>
<br>
<script>
    setActiveButton("Involvements");
</script>
{% endblock %}